@import './../../style/style.config.scss';
.login{
    min-height: 600px;
    background:#f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .big-logo{
        width:600px;
        height:423px;
        background-image: linear-gradient(120deg, $primaryColor 0%, $secondnaryColor 100%);  
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(36,37,38,0.2);    
        img{
            width:100%;
            display: block;
        }  
    }
    .login-form{
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(36,37,38,0.2);
        width: 300px;
        height:400px;
        background:#fff;
        margin-left:20px;
        form{
            width:100%;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            .form-control{
                width:200px;
                height:35px;
                border-radius: 25px;
                box-shadow: 0 6px 30px rgba(36,37,38,0.2); 
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                input{
                    box-sizing: border-box;
                    padding:0 20px;
                    height:100%;
                    width:100%;
                    
                    border:none;
                    background:transparent;
                    &::placeholder{
                        color:#b9b9b9;
                    }
                }
                input:focus { outline: none; }
            }
            .form-btn{
                background-image: linear-gradient(to right, $primaryColor 0%, $secondnaryColor 100%);
                input{
                color:#fff;                
                
                }
            }
        }
    }
}
