@import './../../style/style.config.scss';
.login {
    min-height: 600px;
    background: #f6f6f6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .big-logo {
        width: 600px;
        height: 423px;
        background-image: linear-gradient(120deg, $primaryColor 0%, $secondnaryColor 100%);
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.2);
        img {
            width: 100%;
            display: block;
        }
    }
    .login-form {
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(36, 37, 38, 0.2);
        width: 300px;
        height: 400px;
        background: #fff;
        margin-left: 20px;
        box-sizing: border-box;
        padding: 5px;
        .mode-switch {
            height: 50px;
            line-height:25px;
            display: flex;
            justify-content: center;
            color:grey;
            flex-direction:row;
            align-items: center;
            span{
                display:block;
                border-bottom:2px solid #fff;
                &:first-child,&:last-child{
                    cursor: pointer;
                    
                    &:hover{
                        color:#111;
                    }
                }
            }
            .selected{
                color:#000;
                border-bottom:2px solid #000;
                font-weight:bold;
            }
        }
        .login-panel {
            
            
        }
    }
}
