<div class="login">
    <div class="big-logo">
        <img src="./../../../assets/logo_white_transparent.png" alt="">
    </div>
    <div class="login-form">
        <div class="mode-switch">
            <span (click)="switchPanelMode('fast')" [class.selected]="panelMode==='fast'">快速登录</span>
            <span> 😋 </span>
            <span (click)="switchPanelMode('normal')" [class.selected]="panelMode==='normal'">账号密码登录</span>
        </div>
        <div class="login-panel" [ngSwitch]="panelMode">
            <app-fast-login *ngSwitchCase="'fast'"></app-fast-login>
            <app-login-form *ngSwitchCase="'normal'"></app-login-form>
        </div>
    </div>
</div>
