<header>
    <div class="logo">
        <img src="./../assets/white_logo_transparent_background.png" alt="JoinCloud.io">
    </div>
    <div class="title">
        <h2>DevTools</h2>
    </div>
    <div class="clip"></div>
    <div class="blank"></div>
    <div class="user-info">
        <p>{{userInfo.firstName}} {{userInfo.lastName}}</p>
        <p>{{userInfo.name}}</p>
        <p>{{userInfo.authority}}</p>
        <span></span>
    </div>
    <div class="logout-button" (click)="logout()">
        <span class="btn-text">注销</span>
    </div>
</header>
<div class="main">
    <router-outlet></router-outlet>
</div>
